@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
  overflow: hidden;
}
.videos{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: auto;
  height: 100vh;
  padding: 20px;
  gap: 60px 30px;
}
*::-webkit-scrollbar{
  background: transparent;
  width: 10px;
  border-radius: 6px;
}
*::-webkit-scrollbar-thumb{
  background-color: gray;
}
.detail-page{
  display: grid;
  grid-template-columns: auto 400px;
}

@media (max-width: 1000px) {
  .detail-page{
    grid-template-columns: 1fr;
  }
}
.row{
  display: grid;
  grid-template-columns: 140px auto;
  align-items: center;
  gap: 20px;
}
.row div:nth-child(2) img {
  display: none;
}
.row div:nth-child(2) div p{
  font-size: 13px;
  color: rgb(196, 193, 193);
}

.wrapper{
  container-type: inline-size;
}

/* kartın kapsayıcının boyutuna göre boyutlandırma*/
@container (min-width: 800px){
  .row{
    grid-template-columns: 340px auto;
  }
  .row h4{
    font-size: 24px;
  }
  .row div:nth-child(2) div p{
    font-size: 18px;
  }


}